.submit__title {
    font-family: 'Roboto', sans-serif;
    font-size: 92px;
    color: white;
    text-transform: uppercase;
}

.submit-button {
    padding: 10px 28px;

    background-color: black;
    border: 1px solid #fff;

    font-size: 80px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
}

.submit-button:hover {
    border: 1px solid #EF1D9E;
    color: #EF1D9E;
    background-color: transparent;
}